// html,
// body {
//   height: 100vh;
//   background: #666666;
//   font-family: "Balsamiq Sans", sans-serif;
// }

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card {
  width: 70%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(237, 94, 148, 0.5);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  position: relative;

  h2 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 60px;
    text-transform: uppercase;
  }

  .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 50px;

    .col {
      position: relative;
      width: 100%;
      margin: 40px 30px 50px 0;
      transition: 0.5s;

      :nth-child(6) {
        margin-top: 64px;
      }
    }

    .form-group {
      position: relative;
      width: 100%;
      height: 40px;
      color: #ffffff;

      input,
      textarea {
        position: absolute;
        width: 90%;
        height: 100%;
        background: transparent;
        outline: none;
        font-size: 24px;
        padding: 10px 0 10px 20px;
        border: 5px solid rgba(237, 94, 148, 0.5);
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border-radius: 50px;
      }

      label {
        line-height: 40px;
        color: #ffffff;
        font-size: 24px;
        margin: 0 0 0 30px;
        display: block;
        pointer-events: none;
      }
    }
  }
}

.contact-card .row .form-group input:focus,
.contact-card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.contact-card .row input[type="submit"] {
  border: 5px solid rgba(237, 94, 148, 0.5);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.contact-card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .contact-card .row {
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
  }

  .contact-card {
    padding: 20px;
  }

  .contact-card h2 {
    font-size: 34px;
  }

  .contact-card .row input[type="submit"] {
    width: 100%;
  }
}
