.footer-container {
  max-width: 1140px;
  // margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.footer {
  width: 100%;
  padding: 0.1rem 0;
  background: rgba(0, 0, 0, 0.8);
  color: lightgrey;

  a {
    color: lightgrey;
    text-decoration: none;
  }

  .left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  h4 {
    font-size: 1.4rem;
    padding: 1rem 0;
  }

  .center {
    text-align: center;
  }

  .location {
    display: flex;
    align-items: center;

    h4 {
      padding-top: 0;
    }

    p {
      padding-bottom: 0.5rem;
    }
  }

  @media screen and (max-width: 640px) {
    .footer-container {
      grid-template-columns: 1fr;
    }

    .right .social {
      margin: auto;
    }
  }
}
